@font-face {
    font-family: 'halo';
    src: url('../fonts/halo_outline-webfont.woff2') format('woff2'),
         url('../fonts/halo_outline-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'halo';
    src: url('../fonts/halo-webfont.woff2') format('woff2'),
         url('../fonts/halo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





body {

	margin:0;/* par defaut il y a une marge definit au corp */
	color: white;
	font:16px/3em "Segoe UI", "Helvetica Neue",Roboto,Arial,sans-serif;
	background:url(../img/domaine.jpg) fixed no-repeat ;
}

.cache {
	display: none;

}

.visible {
	display:flex;
	flex-direction: column;
	margin:auto;
	justify-content: space-around;
	font:2em "Segoe UI", "Helvetica Neue",Roboto,Arial,sans-serif;

}

h1 {
	font:2em "halo","Segoe UI", "Helvetica Neue",Roboto,Arial,sans-serif;
	align-items: center;
}


#connect{
max-width: 600px;
align-items: center;

}

#listnote{
max-width: 600px;
align-items: center;

}

#note{
max-width: 600px;
align-items: center;

}

input{
	width:20em;
	height:3em;
	margin:2em;
}

label+ input{
	margin-top: 0.5em;

}

#textnote {
	width: 100%;
	height:20em;
}

ul{
	padding:0;
	list-style-type: none;
}

.notelist {

	width:40em;

}